@import '../../index.scss';

.prediction-results {
  margin-top: 2rem;
  background-color: lighten($primary-color, 40%);
  padding: 1rem;
  border-radius: $border-radius;

  h2 {
    color: $secondary-color;
    margin-bottom: 1rem;
  }

  .result-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    .label {
      font-weight: bold;
    }

    .value {
      color: $primary-color;
    }
  }
}
